{% extends 'base.html' %} 

{% block title %}

{% endblock %} 

{% block body %} 
<div class="jumbotron">
    <h3>Categories</h3>
    <ul>
        <li>
            {% for x in categories %} 
                <li>
                    <a href="#">{{x.name}}</a>
                </li>
            {% endfor %}  
        </li>
    </ul>
</div>
<div>
    {% if category %} 
        {{category.name}}
    {% else %} 
    All-Story 
    {% endif %}
    {% for x in story %}
    <h2>{{x.name}}</h2>
    <p>{{x.des}}</p>
</div>
{% endblock %}  
